.dashboard-card-container{
    display: flex;
    flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
    flex-direction: column;
    min-height: 50%;
    max-height: 50%;
}

.dashboard-card{
    height: 100%;
    margin:10px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;    
}

.card-header{
    color: #484c7f;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    border-bottom: 3px solid #484c7f;
}

.card-body{
    height: 95%;
    width: 100%;
    overflow-y: auto;
}

.dashboard-card-container_mobile{
    display: flex;
   flex: 1 0 auto;
   max-width: 100%;
}

.dashboard-card_mobile{
    height: 90%;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin: 15px;
}