.lights-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.light-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    min-width: 300px;
    padding-bottom: 1rem;
    border-bottom: 3px solid #e3e7f1;
}

.light-name{
    margin: 10px;
    font-size: larger;
}